@model Destination
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Destination Detail</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Destination Detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!--/blog-->
<div class="py-5 w3l-homeblock1 text-center">
    <div class="container mt-md-3">
       
    </div>
</div>
<section class="blog-post-main w3l-homeblock1">
    <!--/blog-post-->
    <div class="blog-content-inf pb-5">
        <div class="container pb-lg-4">
           <div class="row">
               <div class="col-6">
                    <div class="single-post-image">
                        <div class="post-content">
                            <img src="~/assets/images/@Model.Image" class="radius-image img-fluid mb-5" alt="" />
                        </div>
                    </div> 
               </div>
               <div class="col-6">
                    <div>
                        From baku To : @Model.City<br />
                        Capacity : @Model.Capacity<br />
                        Price : @Model.Price$<br />
                        How much day : @Model.DayNight<br />
                        When :  @Model.CreatedTime.ToShortDateString();<br />
                        <a class="btn btn-success text-white my-2">Reservation</a>
                    </div>
               </div>
           </div>
            <div class="single-post-content">
             @Html.Raw(Model.DestinationDetail.DescriptionBase)
                <h3 class="blog-desc-big m-0 mb-4">Excepteur sint occaecat non proident</h3>
                @Html.Raw(Model.DestinationDetail.DescriptionOne)
                <div class="sing-post-thumb mb-5 row pt-3">
                    <div class="col-sm-6">
                        <a href="#url"><img src="~/assets/images/@Model.DestinationDetail.ImageOne" class="img-fluid radius-image" alt=""></a>
                    </div>
                    <div class="col-sm-6 mt-sm-0 mt-3">
                        <a href="#url"><img src="~/assets/images/@Model.DestinationDetail.ImageTwo" class="img-fluid radius-image" alt=""></a>
                    </div>
                </div>
                <h3 class="blog-desc-big m-0 mb-lg-4 mb-3">Lorem ipsum dolor sit</h3>
                @Html.Raw(Model.DestinationDetail.DescriptionTwo)

                @* <h3 class="blog-desc-big m-0 mt-5 mb-4">Search for Inspiration</h3>
                <p class="mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita esse error enim repellat, architecto corporis rerum ipsa alias cum!</p>
                <p class="mb-4">
                Dolor sit sed amet, excepteur sint occaecat non proident, sunt in culpa quis. Phasellus
                lacinia id erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                culpa quis.
                </p>*@

                <div class="d-grid left-right mt-5 pb-md-5">
                    <div class="buttons-singles tags">
                        <h4>Tags :</h4>
                        <a href="#blog-tag">Travel</a>
                        <a href="#blog-tag">Culture</a>
                        <a href="#blog-tag">Hotel</a>
                        <a href="#blog-tag">Food</a>
                    </div>
                    <div class="buttons-singles">
                        <h4>Share :</h4>
                        <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!--//blog-post-->
    </div>
</section>
