@model UpdateMemberVM
 
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <!-- Account -->
              
                <div class="card-body">

                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="~/member/assets/img/user/@Model.Image"
                             alt="user-avatar"
                             class="d-block rounded"
                             height="100"
                             width="100"
                             id="uploadedAvatar" />
                       
                    </div>
                    
                        <div class="row">

                            <div class="mb-3 col-md-6 form-group">
                                <label class="form-label">Name</label>
                                <input class="form-control" value="@Model.Name" readonly />
                            </div>

                            <div class="mb-3 col-md-6 form-group">
                                <label class="form-label">Surname</label>
                                <input class="form-control" value="@Model.Surname" readonly />
                            </div>

                            <div class="mb-3 col-md-6 form-group">
                                <label class="form-label">Username</label>
                                <input class="form-control" value="@Model.Username" readonly />
                            </div>

                            <div class="mb-3 col-md-6 form-group">
                                <label class="form-label">Email</label>
                                <input class="form-control" value="@Model.Email" readonly />
                            </div>

                            <div class="mb-3 col-md-6 form-group">
                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">US (+1)</span>
                                    <input class="form-control" value="@Model.Phone" readonly />
                                </div>
                            </div>
                        
                        </div>
                        <div class="mt-2">
                            <a asp-route-Username="@Model.Username" asp-action="Update" class="btn btn-success text-white">Update Profile</a>
                            <a asp-route-Username="@Model.Username" asp-action="ChangePassword" class="btn btn-primary text-white">Change Password</a>
                        </div>
                    
                </div>
                <!-- /Account -->
            </div> 
         
        </div>
    </div>
</div>
<!-- / Content -->